@font-face {
  font-family: 'Red Hat Display';
  src: url(https://fonts.google.com/specimen/Red+Hat+Display);
}
body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Red Hat Display', Arial, sans-serif;
  box-sizing: border-box;
}
h1 {
  color: hsl(223, 47%, 23%);
  padding-bottom: 10px;
  text-align: center;
}
h2 {
  font-size: 16px;
  color: hsl(223, 47%, 23%);
  margin-bottom: 3px;
}
p {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  text-align: center;
}
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
}
.hero-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.order-summary {
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
}
.copy {
  padding: 0 20px;
}
.plan-container {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(225, 100%, 98%);
  margin: 5% 5%;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
}
.music-icon {
  width: 50px;
  height: 50px;
  display: flex;
}
.plan-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 0 20px;
}
.plan-price {
  color: hsl(224, 23%, 55%);
  font-weight: 400;
  margin-top: 3px;
}
.change-plan {
  margin-left: auto;
}
.change-plan a {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}
.change-plan a:hover, a:focus, a:active {
  color: #6e63dd;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 330px) {
  .change-plan {
  margin: 0 auto;
  }
}
